header, section, article, aside, footer {
   display:block;
}

/*----------------------------header----------------------------------*/
header.mainHeader {
	width: 100%;
	background-image: url(../images/sky.png);
	background-repeat: repeat-x;
	background-position: center;
   	height: 130px;
	margin: 0, auto;
   	display: block;
}	

div.companyLogo  a{
	display: block;
	margin: 0 10% 0 25%; 
}

.processBar ul {
	table-layout: fixed;
	margin: 0.5% 0 0 13.5%;
    padding: 0;
    list-style: none;
    width: 80%;
    display: table;
}

.processBar li {
	background-image:none;
	float: left;
	background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    width: 191px;
    padding: 0;
    text-align: center;
}

span.selection {
	float: left;
	padding: 0;
	margin: 0;
	width: 192px;
	line-height: 40px;
	background-image: url(../images/notActiveStage.png) ;
	background-repeat: no-repeat;
}

/*hide items style.css*/
li.currentStage:after {
	content:  none;
	margin: 0;
	padding: 0;
 }

span.selection span {
	float: right;
	width: 30px;
	height:40px;
	padding: 0;
	margin: 0;
	background-image: url(../images/currentStageArrowWhite.png) ;
	background-repeat: no-repeat;
}
/*text alignment*/
span.summary {
	padding:  0 5px 0 0;
}

span.summary span {
	float: right;
	width: 29px;
	height:40px;
	padding: 0;
	margin: 0;
	background-image: url(../images/currentStageArrowBlue.png) ;
	background-repeat: no-repeat;
}

span.travellers {
	float: left;
	padding: 0;
	margin: 0;
	width: 192px;
	line-height: 40px;
	background-image: url(../images/notActiveStage.png) ;
	background-repeat: no-repeat;
}

span.travellers span {
	float: right;
	width: 30px;
	height:40px;
	margin: 0;
	background-image: url(../images/stageArrowWhite.png) ;
	background-repeat: no-repeat;
}

span.purchase {
	float: left;
	padding: 0;
	margin: 0;
	width: 192px;
	line-height: 40px;
	background-image: url(../images/notActiveStage.png) ;
	background-repeat: no-repeat;
}

span.purchase span {
	float: right;
	width: 30px;
	height:40px;
	margin: 0px 0 0 0px;
	background-image: url(../images/stageArrowWhite.png) ;
	background-repeat: no-repeat;
}

span.confirmation {
	float: left;
	padding: 0;
	margin: 0;
	width: 192px;
	line-height: 40px;
	background-image: url(../images/notActiveStage.png) ;
	background-repeat: no-repeat;
}
/*text alignment*/
span.confirmation span {
	padding:  0 25px 0 0;

}

li.currentStage  {
	background-image: url(../images/activeStage.png) ;
	background-repeat: no-repeat;
	color: white;
	display:  inline-block;
}


/*-----------------------------itineraryTable-------------------------*/


.fareBreakDownTable table tr,th,td {
	text-align: center;
	padding: 10px 0 ;
}


.fareBreakDownTable table td:first-child {
	text-align: left;
	padding: 0 0 0 15px;
}





div.benefitsEven li:first-child {
	padding: 0;
	list-style-type: none;
	margin: 17px 0 10px 25px; 
}

div.benefitsOdd li:first-child {	
	padding: 0;
	list-style-type: none;
	margin: 30px 0 10px  25px; 
}


div.baggage select {
	height: 25px;
	display: block;
	width: 280px;
	margin: 0 0 10px 0;
}

div.routeThereTableLastCol {
	display: inline-block;
	float: right;
	width: 80px;
	margin:  -10px 0 0 0 ;
	padding: 0 20px 0 0;
	
}

div.routeThereTableLastCol div {
	margin: 0;
	padding: 0 0 20px 0;

}

div.routeThereTableLastCol .plane {
	float: right;
	padding: 0;
	margin: 0px 0 5px 0;

}

div.routeThereTableLastCol .included {
	display: inline-block;
	margin: 0;
	padding: 20px 0 0 0;
} 

div.routeThereTableLastCol .luggageCost {
	float: right;
	font-weight: bold;
	padding: 15px 20px 0 0;
}


input[type="checkbox"] {
    display: inline-block;
}

input[type="checkbox"] + label span {
	display: none;
}

input[type="checkbox"]:checked + label span {
   display: none;
}


.insuranceTravel span ,.insuranceBaggage  span,.insuranceCancelation span {
	margin: 0 0 0 75px;
}

div.insuranceTravel {
	table-layout: fixed;
	background-color: #F5F6F7;
	border: solid 1px  #DFE6EE;
	padding: 15px 0 0 45px;
	color: #42474E;
}

div.insuranceTravel label {
	margin: 0;
	font-weight: bold;
}

span.insurancePrice { 
	margin: 0;
	padding: 0;
}

div.insuranceBaggage label {
	margin: 0;
	font-weight: bold;
}


div.insuranceCancelation label {
	margin: 0;
	font-weight: 600;
}



.referLists {
	table-layout: fixed;
	width: 46%;
	display: block;
	margin: 0 0 0 25% ;
}

div.contactUsList {
	float: right;
	margin: 0 0 0 12%  ;
	padding: 0 ;
}


.footerNoteList ul, .otherCompanys ul {
	width: 135%;
	display: table;
	list-style: none;
	padding: 0;
}

.lastNote, .lastCompany {
	margin: -2px 0 0 0; 
}

.footerNoteList span {
	color:  #DADADA;
	font-size: 18px;
	padding: 0 10px;
}

.footerNoteList li , .otherCompanys  li {
	display: table-cell;
	float: left;
	font-size: 12px;
	height: 20px;
}


.footerNoteList a , .otherCompanys  a {
	display: table-cell;
	color: #5782BB;
	text-decoration: none;
	vertical-align: bottom;
	height: 30px;
}


.otherCompanys span {
	color:  #DADADA;
	font-size: 18px;
	padding: 0 10px;
}

