html body {
	height: 100%;
}

body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
}

a {
	color: #184077;
}

h1 {
	color: #002c69;
	padding: 33px 0 0 0;
	margin: 0;
	font-weight: normal;
	font-family: sans-serif;
}

.mainBody {
	width: 50%;
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -100px;
	padding-bottom: 100px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------header----------------------------------*/
.mainHeader {
	width: 100%;
	background-image: url(../images/sky.png);
	background-repeat: repeat-x;
	background-position: center;
	height: 130px;
 	
}	

div.companyLogo  a {
	margin: 0 10% 0 25%; 
}

.companyLogo {
	padding: 0;
	margin: 0 0 0 -300px;
}

.companyLogo img {
	padding: 15px 0 0 220px;
}

.navLang {
	padding: 15px 0 0 1110px;
	margin: -15px 0 0 -330px;
}

.navLangWrapper {
	display: block;
	margin: 0 20% 0 50%;
}

/*----------------------------processBar----------------------------------*/

.processBar {
	display: block;
	margin: 0 auto;
	width: 1300px;
}

.processBar ul {
	table-layout: fixed;
	margin: 0.5% 0 0 13%;
    padding: 0;
    list-style: none;
    width: inherit;
    display: table;
}

.processBar li {
	background-image: url(../images/notActiveStage.png) ;
	background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 15%;
}
span.selection {
	padding: 0 0 0 55px;
}

span.summary {
	padding: 0 0 0 50px;
}

span.travellers {
	padding: 0 0 0 50px;
}

span.purchase {
	padding: 0 0 0 45px;
}

span.confirmation {
	padding: 0 0 0 35px;
}

.processBar li:nth-last-child(-n+2):before {
	content:  url(../images/stageArrowWhite.png);
    float: left;
    margin: 0 0px 0 -29px;
    display: table-cell;
    vertical-align: middle;
}

li.currentStage:before {
	content:  url(../images/currentStageArrowWhite.png);
   	float: left;
   	margin: 0 0 0 -29px;
}

li.currentStage:after {
  	float: right;
	content:  url(../images/currentStageArrowBlue.png);
	margin: 0 -25px 0 0px;
	padding: 0 20px 0 0;
}

li.currentStage  {
	background-image: url(../images/activeStage.png) ;
	background-repeat: no-repeat;
	color: white;
	display:  inline-block;
}




h2.airDetails {
	position: absolute;
	color: #002c69;
	padding: 25px 0 0 0;
	margin: 0;
	font-family: sans-serif;
}

h2.fareRules {
	position: static;
	color: #002c69;
	padding: 30px 0 0 560px;
	margin: 0 0 20px 0;
	font-family: sans-serif;
	font-size: 13px;
}	


/*-----------------------------itineraryTable-------------------------*/
.itineraryTable table {
	table-layout: auto;
	width: 70%;
}

.itineraryTable tr.evenItineraryRow {
	background-color: #dce0e4;
	 border: solid 1px #C7CED6;
}

.itineraryTable tr.oddItineraryRow {
	background-color: #f6f6f8;
	  border: solid 1px #C7CED6;
}

.itineraryTable tr {
	 padding:20px;
}

.itineraryTable td {
	padding: 20px 0px 20px 20px;
	vertical-align: top;
} 
td.city {
	width: 190px;
}
td.budget {
	
	width: 80px;
}
td.planeNumber {
	
	width: 90px;
}

.itineraryTable div.city,div.planeNumber a,.letter {
	font-size: 13px;
	font-weight: bold;
	color: #002c69;
	text-align: left;
}

.budget {
	font-size: 12px;
}

.departureTime, .plane, .carrier ,.flightType {
	text-align: left;
	font-size: 12px;
}
/*---------------------------fareBreakDownTable---------------------------------*/
.fareBreakDownTable table {
	width: 70%;
	font-size: 14px;
	table-layout: fixed;
	color: #41474D;
	border: solid 1px #C7CED6;
	border-bottom: none;
}

.fareBreakDownTable  caption {
	border: solid 1px #C7CED6;
	font-weight: bold;
	border-top: none;
}

.fareBreakDownTable table td {
 padding: 10px 0 ;
}

.fareBreakDownTable table th:nth-child(n+2) {
	text-align: right;
	padding: 10px 0 ;
}

.fareBreakDownTable table td:nth-child(n+2) {
	text-align: right;
}

.fareBreakDownTable table th:nth-child(1) {
	text-align: left;
	padding: 10px 0 10px 15px;
	
}
.fareBreakDownTable table td:nth-child(1) {
	text-align: left;
	padding: 0 0 0 15px;
	
}

.fareBreakDownTable table th:nth-child(7) {
	text-align: center;
	
}
.fareBreakDownTable table td:nth-child(7) {
	text-align: center;
	
}
.fareBreakDownTable table th,th > a {
	background-color: #0c3873;
	color: white;
	font-weight: normal;
}


.fareBreakDownTable table tr:nth-child(n+2) {
	border-bottom: dotted;
	border-top: dotted;
	border-color: #d7dfe8;
	border-width: thin;
}

.fareBreakDownTable table caption {
	display: table-caption;
	text-align: left;
	color: #002c69;
	padding: 15px 50px 5px 20px;
}

/*--------------------------------------benefitsTable-----------------------------------*/

.benefitsTable  {
	width: 69.7%;
	table-layout: fixed;
	font-size: 13px;
	border:solid 1px #d7dfe8;
	padding: 0 0 20px 0;
}

.benefitsTable ul {
 	padding: 0;
	margin: 0;
}

.benefitsTable li {
	margin: 0 0 5px 55px;
	padding: 0;
	list-style-type: disc;
	color: #002c69;
}

.benefitsTable span  {
	color: #41474D;
	padding: 0;
	margin: 0;
}

div.benefitsEven li:nth-child(1) {
	padding: 0;
	list-style-type: none;
	margin: 17px 0 10px 25px; 
}

div.benefitsOdd li:nth-child(1) {	
	padding: 0;
	list-style-type: none;
	margin: 30px 0 10px  25px; 
}

/*----------------------------------itineraryFooter------------------------------*/
footer.itineraryFooter {
	width: 69.7%;
	table-layout: fixed;
	display: block;
	text-align: right;
	border:solid 1px #d7dfe8;
	padding: 10px 0;
	border-top: none;
}

div.totalFooterText {
	color: #002c69;
	font-weight: bold;
	padding: 0 20px;
}

.totalAirFareCost {
	margin: 0  0 0 25px;
	padding: 0;
}

div.totalFooterSaving {
	color: #41474D;
	font-weight: normal;
	padding: 0 20px;
}

div.totalFooterText>div,div.totalFooterSaving>span {
	color: red;
	font-weight: normal;
}

div.totalFooterCost {
	display: inline-block;
	width: 110px;
	font-size: 25px;
	padding: 0 0 0 35px;
	
}

div.totalFooterSaving span {
	padding: 0 0 0 75px;
	font-weight: bold;
}

.itineraryFooter .totalFooterCost {
	font-size: 25px;
	padding: 0;
	width: 90px;
}
/*--------------------------Travel with more luggage (optional)---------------------------*/
article.insurance h2 {
	display: inline-block;
}

div.europAssistanceAdvertising {
	display: block; 
	margin: 50px 0 0 10px;
}

.luggage {
	width: 69.7%;
	table-layout: fixed;
}

.luggageHeader {
	color: #002D69;

}

.luggageHeader span.optional {
	color: #80ABD4;
	font-weight: normal;
}

div.onlineNote  {
	background-image:  url(../images/bag.png) ;
	background-repeat: no-repeat;
	height: 67px;
	border: solid 1px  #d7dfe8;
	border-bottom: none;
}

.onlineNote span {
	padding: 25px 0 0 100px;
	color:  #002D69;
	display: table-cell;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}

.luggage h3 {
	font-size: 15px;
	color: #002c69;
	padding: 20px 20px;
	margin: 0;
}

/*--------------------------- Brussels (BRU) - London Heathrow (LHR) and London Heathrow (LHR) - Brussels (BRU)------------------------------*/
.routeThereTable, .routeBackTable {
	border: solid 1px  #d7dfe8;
	border-bottom: none;
}

.routeThereTableBody {
	width: 100%;
	table-layout: fixed;
	display: block;
}

div.passenger {
	display: inline-block;
	width: 200px;
	font-size: 15px;
	float: left;
	margin: 0 ;
	padding: 25px 20px 10px 20px;
}

div.baggage {
	display: inline-block;
	margin: 0;
	padding: 15px 0 0 0;
}

div.baggage select {
	height: 25px;
	display: block;
	width: 278px;
	margin: 0 0 10px 0;
}

div.basket {
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.routeThereTableLastCol {
	display: inline-block;
	width: 80px;
	margin:  -10px 0px 0 20px ;
	padding: 0 0px 0 20px;
	/*border: solid 1px red;*/
}

div.firstPass  {
	display: inline-block;
	margin:  0px 0px 0 -10px ;
	padding: 0 20px 0 0px;
}

div.routeThereTableLastCol img {
	float: right;
	padding: 0 ;
	margin: -30px 0 5px 0;
	
}


div.routeBackTableLastCol img {
	float: right;
	padding: 0 ;
	margin: -75px 110px 5px 0;
	
}

div.routeThereTableLastCol .included {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 25px 0 0 0px;
} 

div.routeThereTableLastCol .luggageCost {
	float: right;
	font-weight: bold;
	padding: 15px 0px 0 0;
}

div.luggageLink {
	display: block;
	font-size: 15px;
	padding: 0 0 10px 240px;
	margin: -10px 0 0 0;
	border-bottom: dotted;
	border-color: #d7dfe8;
	border-width: thin;
}

div.routeBackTable .luggageLink {
	padding: 10px 0 10px 240px;
}

div.routeBackTable .baggage {
	padding-top: 15px;
	margin-top: 0px;
}

div.routeBackTable .passenger {
	padding-top: 15px;
	margin-top: 0px;
}

div.routeBackTable select {
	padding-top:  0px;
	margin-top: -10px;
}

div.routeBackTable .plane {
	margin: 0 -90px 0 0;
}

div.routeBackTable .included {
	padding: 20px 0 0 0;
	margin: 0 -40px 0 0;
}

div.totalLuggage {
	font-weight: bold;
	color: #002c69;
	text-align: right;
	padding: 10px 0px 5px 40px;
	border: solid 1px #d7dfe8;
	border-top: none;
}

.totalLuggageCost {
	display: inline-block;
	padding: 0 25px 0 3px;
	font-size: 25px;
	color: red;
	width: 70px;
}

/*----------------------Travel insurance (optional)------------------*/
article.insurance {
	width: 69.7%;
	table-layout: fixed;
	color:#002C69;
	margin: 40px 0 0 0;
}

article span.optional {
	color:#80ABD4;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:19px;
    margin:0 10px 0 0;
    vertical-align:middle;
    background:url(../images/checkBox.png) left top no-repeat;
    cursor:pointer;

}

input[type="checkbox"]:checked + label span {
    background:url(../images/checkBox.png) -20px top no-repeat;
}

div.europAssistanceLogo {
	float: left;
	padding: 20px;
}

div.europAssistanceAdvertising {
	margin: 0; 
	height: 105px;
	border: solid 1px  #DFE6EE;
}

.europAssistanceMotto-1 {
	margin: 20px 0 5px 175px;
	font-size: 14px;
	font-weight: 600;
}

.europAssistanceMotto-2 {
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 10px 175px;
}

.insuranceConfirm {
	font-size: 14px;
	color: #42474E;
	margin: 0 0 0 175px;
}

.insuranceConfirm a {
	font-weight: bold;
}

div.insuranceTravel {
	table-layout: fixed;
	background-color: #F5F6F7;
	border: solid 1px  #DFE6EE;
	padding: 15px 0 0 45px;
	color: #42474E;
}

div.insuranceTravel label {
	margin: 0 0 0 -25px;
	font-weight: bold;
}

div.insuranceBaggage {
	table-layout: fixed;
	background-color: #F5F6F7;
	border: solid 1px  #DFE6EE;
	padding: 15px 0 0 45px;
	color: #42474E;
}

div.insuranceBaggage label {
	margin: 0 0 0 -25px;
	font-weight: bold;
}

div.insuranceCancelation {
	table-layout: fixed;
	background-color: #F5F6F7;
	border: solid 1px  #DFE6EE;
	padding: 15px 0 0 45px;
	color: #42474E;
}

div.insuranceCancelation label {
	margin: 0 0 0 -25px;
	font-weight: 600;
}

.insuranceDescription,.detail {
	padding: 0 0 10px 5px;
}

div.totalInsuranceTable {
	font-weight: bold;
	color: #002c69;
	text-align: right;
	padding: 10px 0px 5px 0;
}

.totalInsuranceTable .euro {
	padding: 0 0 0 35px;
}

span.totalFooterCost {
	display: inline-block;
	font-weight: bold;
	padding: 0 40px 0 0px;
	width: 70px;
	font-size: 25px;
	color: red;
}

div.mainFooter {
	table-layout: fixed;
	color: #002c69;
	text-align: right;
	font-weight: bold;
	margin:  0 35px 0 0;
	padding: 10px 0px 5px 4px;
}

.mainTotalFooterCost {
	display: inline-block;
	padding: 0 0px 0 0px;
	color: red;
	font-size: 25px;
	font-weight: bold;
	width: 50px;
}

span.euro {
	color: red;
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 0 60px;
}

div.pageButton {
	width: 69.7%;
	table-layout: fixed;
	padding: 25px 0;
}

div.pageBack {
	float: left;
	margin: 10px 520px 0 0;
}

div.pageNext {
	width: 100%;
	table-layout: fixed;
	text-align: right;
	margin: 10px 520px 0 0;
}

/*----------------------------sideBar     Your selection----------------------------------*/
aside.sideBar {
	position: absolute ;
	top: 190px;
	left: 61%;
	background-image: url(../images/sideBarHeader.png)  ;
	background-repeat: no-repeat;
	width: 265px;
}

article.sideBarWrapper {
	background: url(../images/sideBarimage.png) repeat-y   3px;
	width: 281px;
	margin: -2px 0 0 -8px;	
}

.sideBarHeader h2 {
	color: white;
	padding:  16px 0 16px 15px;
	margin: 0;
}

article.sideBarWrapper h3 {
	color: #204780;
	padding: 15px 0 5px 40px;
	margin: 0 ;
}

article.sideBarWrapper span {
	color: #204780;
	padding: 0 0 0 15px;
}

div.sideBarCity {
	color: #204780;
	padding: 10px 0 0 15px;
	font-size: 12px;
	font-weight: bold;
}

article.sideBarWrapper  .departs {
	color: #82ABD2;
	font-size: 12px;
}

article.sideBarWrapper  .arrives {
	color: #82ABD2;
	font-size: 12px;
}

article.sideBarWrapper .date {
	float: right;
	margin: 4px 15px 0 0 ;
	font-size: 12px;
}

div.sideBarFlight {
	padding:0 0 10px 0;
	margin: 0 9px;
	color: #C9D0D7;
	border-bottom: dotted;
	border-width: 1.5px;
}

div.sideBarFareCosts {
	padding:10px 0 0 15px;
	color: #333333;
	font-size: 12px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
	margin: 0 9px;
}

div.sideBarFareCosts .taxesCost {
	float: right;
	margin: 0 15px 0 0 ;
	color: #333333;
}

.discount {
	color: red;
	padding: 0 0 10px 0;
}

div.sideBarFareCosts .discountCost {
	float: right;
	margin: 0 15px 0 0;
	color: red;
}

div.sideBarFareCosts span {
	padding: 0;
}

footer.sideBarFlightsFooter {
	padding: 15px 0 15px 15px;
	font-size: 12px;
	margin: 0 0 0 10px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
}

footer.sideBarFlightsFooter span {
	color: #333333;
	float: right;
	margin: 0 25px 0 0 ;
}

div.sidebarLuggage {
	padding:10px 0 15px 15px;
	color: #333333;
	font-size: 12px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
	margin: 0 9px;
}

div.sidebarLuggage .sidebarLuggagePrice {
	float: right;
	margin: 0 15px 0 0 ;
	color: #333333;
}

footer.sideBarLuggageFooter {
	padding:10px 0 15px 15px;
	color: #333333;
	font-size: 12px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
	margin: 0 9px;
}

footer.sideBarLuggageFooter .sideBarLuggageFooterPrice {
	float: right;
	margin: 0 27px 0 0 ;
	color: #333333;
}

div.sideBarInsurance {
	padding:10px 0 15px 15px;
	color: #333333;
	font-size: 12px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
	margin: 0 9px;
}

div.sideBarInsurance .sideBarInsurancePrice {
	float: right;
	margin: 0 15px 0 0 ;
	color: #333333;
}

footer.sideBarInsuranceFooter {
	padding:10px 0 15px 15px;
	color: #333333;
	font-size: 12px;
	border-bottom: dotted;
	border-width: 1.5px;
	border-color: #C9D0D7;
	margin: 0 9px;
}

footer.sideBarInsuranceFooter .sideBarInsuranceFooterPrice {
	float: right;
	margin: 0 27px 0 0 ;
	color: #333333;
}

div.sideBarTotalPrice{
	width: inherit;
	font-size: 14px;
	font-weight: bold;
	color: #002c69;
	text-align: right;
	padding: 5px 0px 30px 0;
}

span.sideBarTotalPrice {
	display: inline-block;
	margin: 0;
	padding: 0 20px 0 0;
	font-weight: normal;
	font-size: 23px;
	color: red;
}

div.sideBarTotalPrice .euro {
	margin: 0 -5px 0 0;
	padding: 0 5px 0 70px;
	font-size: 16px;
	font-weight: normal;
}

div.sideBarTotalPrice .converter {
	width: inherit;
	margin: 0 27px 0 0;
	font-size: 11px; 
	font-weight: normal;
}

footer.sideBarFooter {
	width: inherit+1;
	margin: 0 0 0 -1px ;
	background-image: url(../images/sideBarFooter.png) ;
	background-position:  1px 0 ;
	background-repeat: no-repeat;
}
/*---------------------------------footer-------------------------------*/
footer.footer {
	width:100%;
   	background-image: url(../images/footerLine.png) ;
   	background-repeat: repeat-x;
	margin: 0 auto ;
}

footer.footer h2 {
	text-decoration: none;
	color: #002D69;
	font-weight: normal;
}

.referLists  ul {
	list-style: none;
	padding: 0;
}

.referLists  li:before {
	content: "›";
	color: red;
	font-size: 20px;
	padding: 0 10px 0 0;
}

.referLists  a {
	color: #5B636E;
	text-decoration: none;
}

.referLists {
	table-layout: fixed;
	width: 50%;
	display: block;
	margin: 0 0 0 25% ;
}

footer.footer  hr {
	margin: 30px 0 ;
}

div.aboutAsList, div.pressList, div.contactUsList {
	display: inline-block;
	vertical-align: top;
}

div.pressList {
	margin: 0 0 0 8%;
}

div.contactUsList {
	margin: 0 8% 0 10%  ;
	padding: 0 ;
}

.attributeCompanyTable {
	display:  block;
	table-layout: fixed;
	width: 135%;
	color: #5B636E;

}

span.attributeCompany {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	font-size: 15px;
}

span.attributeStar {
	display: inline-block;
	float: right;
	font-weight: normal;
	font-size: 15px;
}

footer address {
	color: #5B636E;
	margin: 5px 0 0 0px;
	font-style: normal;
	font-weight: normal;
}

.footerNoteList ul, .otherCompanys ul {
	width: 135%;
	display: table;
	list-style: none;
	padding: 0;
	margin: 10px  0 0 0 ;
}

.footerNoteList li , .otherCompanys  li {
	display: table-cell;
	float: left;
	font-size: 12px;
}

.footerNoteList li:nth-child(n+2):before , .otherCompanys  li:nth-child(n+2):before {
	display: table-cell;
	content: "|";
	color:  #DADADA;
	font-size: 12px;
	padding: 0 10px 0 10px;
}

.footerNoteList a , .otherCompanys  a {
	display: table-cell;
	color: #5782BB;
	text-decoration: none;
}

.otherCompanys  a {
	color: #5B636E;
	font-weight: bold;
}

div.adressInfo {
	table-layout: fixed;
	width: 45%;
	margin: 0 25% ;
}